html, body {
    height: 100%; /*used for sticky footer*/
    margin: 0px;
    padding: 0px;
}

/**********NAVIGATION**********/
#fixedNav {
    background-color: #37b80a;
    color: black;
    position: fixed; 
    top: 0px;
    width: 100%;
    z-index: 1;
}

.navbar {
    border-radius: 0px;
    border-bottom:solid 4px #ffcc00;
}

.navbar-default .navbar-nav > li > a { /*changes font color*/
    color: white;
}

.navbar-default .navbar-nav > .active > a { /*change background color and font for active nav tabs */
    background-color: black;
    color: white;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { 
/*change background color of active nav tabs in dropdown menu */
    background-color: black;
    color: white;
}

/**********FIRST BACKGROUND IMAGE ON HOME PG**********/
.banner { 
    margin: 0px auto;
    background-image: url("../images/mainLogo.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**********HEADINGS & PARAGRAPHS ON HOME PG**********/
h2 {
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 2px grey; 
    text-align: center;
}

p {
     padding: 0px 30px;
}

/**********ADDITIONAL BACKGROUND IMAGES ON HOME PG**********/
.imageBox, .imageBox2, .imageBox3 {
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageBox {
    background-image: url("../images/Tesla.png");
}

.imageBox2 {
    background-image: url("../images/hyundai.png");  
}

.imageBox3 {
    height: 100%;
    background-image: url("../images/background.png");
}

/**********FOOTER**********/
footer { 
    /*max-width: 1200px;*/
    margin: 0 auto;
    line-height: 4.5em;
    background-color: #37b80a;
    text-align: center;
    color: white;
    font-size: 1.2em;
    border-top:solid 4px #ffcc00;
}

/**********SOCIAL MEDIA ICONS**********/
.fa { margin: 10px;
    padding: 17px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.fa-facebook, .fa-twitter, .fa-pinterest, .fa-instagram {
    background: #000;
    color: white;
}

/**********POPUP SIGN IN PG**********/
iframe { /*contains the .modal container*/ 
    display: none;
    width: 480px;
    height: 450px;
    margin: auto;
    border: none;
}

/* modal container */
.modal { /* contains the form container*/     
    z-index: 1; /* Sit on top */
    width: 98%; 
    height: 98%;  
    overflow: hidden; 
}

/* Modal Content/Box */
.modal-content { 
    margin-top: 200px; 
    text-align: right;
    width: 97%; 
}

/* The Close Button */
.close { 
    position: absolute; /* Position it in the top right corner outside of the modal */
    right: 25px;
    top: 190; 
    color: #ffcc00;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus { color: #37b80a;
    
    cursor: pointer;
}

/* SIGN IN CONTAINER, SIGN IN & CANCEL BUTTONS */
#signInForm input[type=text], input[name=psw] { /*full width inputs*/ 
    background-color: #ffcc00;
    width: 97%;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    opacity: 0.8;
    /*box-sizing: border-box;*/
}

.signInSubmitBtn {
    background-color: #37b80a;
    color: white;
    padding: 10px 22px;
    margin: 5px;
    cursor: pointer;
    width: auto;
}

.signInSubmitBtn:hover {
    opacity: 0.8;
}

/**********HEADING & FORM MARGINS FOR CONTACT, NEW USER, SCHEDULE & CONFIRMATION PGS**********/
.servicesInfo {
    margin-top: 70px;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 2px grey; 
    text-align: center;
}

.contactForm, .newuserForm, .scheduleForm {
  margin-top: 20px;
  padding: 20px;
}

.panel-default {
	border: none;
}

.confirmationForm {
    margin: 20px;
}
/**********SCHEDULE PAGE**********/
.address {
    width: 45%;
    min-width: 235px;
    display: inline-block;
}
div label:nth-of-type(1) {
    color: green;
    margin-top: 10px;
    margin-bottom: 0;
}
.responsive-calendar {
    border:solid 1px #ccc;
    border-radius: 3px;
    padding: 5px;
    background-color: #f2f2f2;
}
.day a {
    background-color: #fff;
}
#recurDays {
    display: none;
}
#cal2 {
    display: none;
}
